img{
    width: 50vw;
    height: 75vh;
}
.withImg{
    border: solid black;
    display: flex;
    flex-direction: row;
}
.desc{
    text-align: center;
    border: solid blue;
    margin: 2%;
    display: flex;
    flex-direction: column;
}
p{
    margin:5%;
}
.nasa{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:90%;
    color:#0b3d91;
}
.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    background-color:#0b3d91;
}
.enterDate{
    margin-top: 40%;
    margin-left: 35vw;
    font-size: 10vh;
    color: #0b3d91;
}